.pokedex-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.pokedex-nav {
  background-color: #d32f2f;
  width: 200px;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.pokedex-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokedex-nav ul li {
  margin-bottom: 20px;
}

.pokedex-nav ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f44336;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.pokedex-nav ul li a:hover {
  background-color: #b71c1c;
}

.content {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

